body {
  background-color: rgb(180, 180, 180);
}

button {
  height: 55px;
  font-size: 20px;
  border-radius: 25%;
  background-color: blanchedalmond;
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}